$bg: rgba(36, 36, 36, 0.90);  // lighter than before, not too dark
$fg: #dddddd;
$outline: rgba(255, 255, 255, 0.5); // subtle white outline
$shadow: rgba(0, 0, 0, 0.2);

* {
  font-family: JetBrains Mono Nerd Font;
}
.bar {
  background-color: transparent;
}

.main-container {
  margin: 8px 12px 0px 12px;
}

.workspaces {
	background-color: $bg;
	border-radius: 10px;
	border: 1px solid $outline;
	color: $fg;
	margin-bottom: 8px;
	padding: 6px 20px 4px 20px;
	box-shadow: 2px 2px 2px $shadow;
    font-size: 22px;
	min-height: 25px;
}

.time_battery {
  background-color: $bg;
  border-radius: 10px;
  border: 1px solid $outline;
  color: $fg;
  margin-bottom: 8px;
  padding: 6px 20px 4px 20px;
  box-shadow: 2px 2px 2px $shadow;
  font-size: 16px;
  min-height: 25px;
}

.time_battery:hover {
  background: rgba(255, 255, 255, 0.12); // subtle hover effect
}
